*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #919191;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#fff;
  background-color:#007bff ;
  padding: 1%;
  width: 100%;
}

.logo{
  font-size: 1.5rem;
  margin:.5rem;
}

.navbar-links ul{
  margin:0;
  padding:0;
  display: flex;
}
.navbar-links li{
  list-style-type: none;

}

.navbar-links li a{
  text-decoration: none;
  color:white;
  padding:1rem;
  display: block;
}

.navbar-links li :hover{
  background-color:rgb(225, 221, 221);
  color:black;
  opacity: .4;
}
/*css for toggle button*/
.toggle-button{
  position:absolute;
  top: 1.3rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background-color: transparent;
  border: none;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width:580px) {
.toggle-button{
  display: flex;

}
.navbar-links{
  display: none;
  width: 100%;
}
.navbar{
  flex-direction: column;
  align-items: flex-start;

}
.navbar-links ul{
  flex-direction: column;
  width: 100%;
}
.navbar-links li{
  text-align: center;

}
.navbar-links li a{
  padding: .5rem 1rem;
}
.navbar-links.active{
  display: flex;
}
}


/* css background images*/

.background-img{
  background-image: url(Students.webp);
  display: flex;
  justify-content: center;
  height:auto;
  padding: 10%;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
 
}
.background-img img{
  width: 100vw;
}
img{
width: 100%;
  height:auto;
  border-radius: 6px;
}
.background-img h1{
  font-size: 80px;
 
  opacity:.9;
  color:white;
 

}





/*div section styling*/
.education-importance{
  font-size: 40px;
  font-weight: 400;
  padding:1%;
  box-shadow: 1px 1px 1px 1px #719bc6;

}

  #education-main{
    width: 30%;
    height: auto;
 
  }



.resource-heading{
  text-align: center;
  font-weight: 400;
  font-size: 40px;

}
.resource-section1{
  display: inline-block;
  text-align: center;
 
  color:rgb(43, 41, 41);
}

.education-slide{
 display: flex;
 justify-content: center;
 align-items:center;
 gap: 10px;
 margin:5px;

}
#education-paragraph{
  font-size: 25px;
}




/*div styling*/
.resource-section {
  display: flex;
  gap:15px;
  padding: 25px;
  margin: 10px;
  background-color:#f8f9fa;
  width: 100%;
  justify-content: center;

}

.resource{
  
  box-shadow: 5px 5px 5px 5px #ebeced;
  width:25%;
  max-height:520px;
  color: #272d33;
  text-align: center;
  border-radius: 10px;
  padding:40px;
  margin: 10px;
  background-color: white;
  
}

.donate-volunteer{
  display: block;
  text-align: center;
  width: 100%;
  margin: 3%;
  padding: 3%;
  font-size: 20px;
  background-color: #93B3F3  ;
  color:black;
 
  
}
.button-v{
  font-size: 20px;
  text-align: center;
  padding: 1%;
  border: none;
  font-weight: 400;
  color: #f8f9fa;
  border-radius: 35px;
  background-color: #719bc6;
}

#button-v:hover{
  background-color:#be4d25;
  border: 1px solid black;
 
}


/*footer styling*/
.footer {
  background-color:#007bff;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position:fixed ;
  bottom: 0;
  width: 100%;

}

.footer .social-icons {
  margin-top: 20px;
}

.footer .social-icons a {
  margin-right: 15px;
}

.footer .social-icons img {
  width: 35px;
  height: auto;
}
.donate-volunteer{
  margin:10px;
}



form{
  padding-bottom:15px;
}

.donate-btn{
  font-size: 1.5rem;
  padding:.5%;
  border-radius: 10px;
  background-color: #007bff;
  color:white;
  border:none;

}